---
layout: default
---

{% include prohead.html %}

<div class="bio">
     "Bienvenue dans l'espace d'un 'Crypto-dissident'."<br>
    Mon blog couvrira les news, articles, guides & projets sur le 'Bitcoin', le protocole Nostr, Tor (P2P), Blockchain; bref, la 'Décentralisation' & la sécurité des données...<br>
    En outre, je me documente sur des sujets liés à la cryptographie, la science des données, la programmation... Bref, Internet en général!<br>
    
   Amusez-vous à lire, & faites quelques commentaires si vous le souhaitez...✌️.<br>
    “In a future that includes competition from open source, we can expect that the eventual destiny of any software technology will be to either die or become part of the open infrastructure itself.”<br>
    ― Eric S. Raymond, The Cathedral & the Bazaar: Musings on Linux and Open Source by an Accidental Revolutionary.<br>
    
     <p class="anilink">
    <a href="{{ site.url }}{{ site.baseurl }}/tag/">👉categories</a>
    <br>
    <a href="{{ site.url }}{{ site.baseurl }}/authors/">👉all authors</a>
    <br>
    <a href="{{ site.url }}{{ site.baseurl }}/archive/">👉archives</a>
    </p>
</div>

<h2 style="margin-bottom: 10px;">Featured</h2>

<div class="card-list oi" id="Blog">
    {% for post in site.posts limit:6 %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="mr-20">
      <div class="card-wrapper">
        <div class="background"></div>
        <img class="image lazyload" src="{{ site.url }}{{ site.baseurl }}/img/placeholder.svg" data-src="{% if post.thumb %} {{ site.url }}{{ site.baseurl }}{{ post.thumb }} {% else %} {{ site.default-thumb }} {% endif %}"  alt="{{ post.title }}">
        <div class="kepala p-24"><h1 class="judul">{{ post.title }}</h1><p>{{ post.description }}</p></div>
        <div class="footer p-24">{% assign minute=post.content | number_of_words | divided_by: 265 | plus: 1 %}<small datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b, %y" }} - {% if post.minute %} {{ post.minute }} {% else %} {{ minute }} {% endif %} min Read</small></div>
      </div>
    </a>
    {% endfor %}
</div>

<a class="soft-button" href="{{ site.url }}{{ site.baseurl }}/blog/" style="display: flex;align-items: center;">
    <span>See all posts</span>
    <svg xmlns="http://www.w3.org/2000/svg" style="height: 18px;margin-left: 7px;" fill="none" viewBox="0 0 24 24" stroke="var(--main-text-color)"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M14 5l7 7m0 0l-7 7m7-7H3"></path></svg>
</a>
