<div class="social-share">
  <div class="share-text">
    <applause-button style="width: 48px; height: 48px; margin-left: -6px;-webkit-tap-highlight-color: transparent;" multiclap="true" color="red" url="{{ site.url }}{{ page.url }}"></applause-button>
  </div>
  <div class="share-button">
    <!-- twitter -->
    <a class="share-post" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter.username }}&related={{ site.twitter.username }}" rel="noopener noreferrer" target="_blank" title='Share "{{ page.title }}" on Twitter'>
      <i class="fa fa-twitter"></i>
    </a>
    <!-- facebook -->
    <a class="share-post" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="noopener noreferrer" target="_blank" title='Share "{{ page.title }}" on Facebook'>
      <i class="fa fa-facebook-square"></i>
    </a>
    <!-- telegram -->
    <a class="share-post" href="https://telegram.me/share/url?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" rel="noopener noreferrer" target="_blank" title='Share "{{ page.title }}" on Telegram'>
      <i class="fa fa-telegram"></i>
    </a>
    <!-- whatsapp -->
    <a class="share-post" href="https://api.whatsapp.com/send?text={{ page.title }}%20{{ site.url }}{{ page.url }}" rel="noopener noreferrer" target="_blank" title='Share "{{ page.title }}" on WhatsApp'>
      <i class="fa fa-whatsapp"></i>
    </a>
  </div>
</div>
